* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: unset;
}
p {
  margin: 0;
}
button {
  border-width: 1px;
}

#root {
  position: relative;
}
#root::before {
  content: "";
  position: fixed;
  display: none;
  right: 9px;
  bottom: 21px;
  width: 0;
  height: 0;
  border-color: transparent transparent black transparent;
  border-width: 17px;
  border-style: solid;
  cursor: pointer;
}
